/*body {
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
 } */

.jumbotron-fluid--top {
  background-image: url(shape_14_144.png);
  background-size: cover;
  min-height: 500px;
  width: 100%;
  text-align: center;
  position: relative;
  border-radius: 0;
}
.container-fluid {
  padding-left: 81px;
  padding-right: 83px;
}
.container--top {
  padding-top: 90px;
}
/* .row__content--between { 
  top: 0;
  position: absolute;
}
.fa-align-left {
  width: 40px;
  height: 40px;
  color: black;
  padding-right: 83px;
  position: absolute;
}
*/
.title {
  text-align: left;
}

.title__title {
  font-size: 30px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #60606e;
  margin-top: 100px;
  font-family: "Montserrat";
  position: relative;
}
.title__text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #60606e;
  margin-bottom: 60px;
}

.title__title::before {
  position: absolute;
  content: "";
  height: 21px;
  width: 68px;
  background-color: #7beec7;
  margin-top: 25px;
  z-index: -1;
}
.icon__before {
  background-color: #7beec7;
  padding: 5px 7px;
}
.title__textalign-center {
  text-align: center;
  line-height: 24px;
}
.title__subtitle {
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  color: #60606e;
}

.team__photo {
  margin-bottom: 31px;
}
.title__title--smaller {
  font-size: 18px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #60606e;
  margin-top: 100px;
  font-family: "Montserrat";
}
.d-flex__text {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  color: #60606e;
}
.btn-sm--green {
  width: 165px;
  height: 50px;
  background-color: #7beec7;
  border-style: none;
  border-radius: 0;
}
.d-flex__photo {
  min-height: 150px;
  background-color: rgba(96, 96, 110, 0.1);
}
.jumbotron-fluid--down {
  height: 330px;
  background-color: #7beec7;
  background-size: cover;
  width: 100%;
  margin: 0;
  padding-left: 81px;
  padding-right: 83px;
}
.title__title--white {
  color: white;
  margin: 0;
}
.btn-sm--white {
  width: 165px;
  height: 50px;
  background-color: white;
  border-style: none;
  border-radius: 0;
  color: #7beec7;
  margin-bottom: 60px;
  margin-top: 29px;
}
.col__whiteBox {
  background-color: white;
  padding: 20px 26px 18px 25px;
  font-size: 24px;
  height: 230px;
}
.col__whiteBox > h1 {
  margin: 0;
  line-height: 36px;
}
.col__whiteBox > p {
  line-height: 24px;
  margin-bottom: 20px;
}
.form-control {
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.09);
  height: 50px;
}
.col_content--center {
  text-align: center;
}

.border {
  margin: 15px;
  padding: 20px;
  width: 165px;
  height: 100px;
}

.container-fluid--margin150 {
  margin: 150px 0 150px 0;
}
.icon-man {
  margin: 25px;
}
.badge {
  border: none;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #9a9a9a;
}
.badge__devaider::before {
  content: "-";
  padding-right: 10px;
}

.container__footer {
  padding: 0;
  margin: 50px 80px 93px 80px;
  width: 100%;
}
.title__text--right {
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #9a9a9a;
}
